.mt-1 { margin-top: 0.5rem; }
.mt-2 { margin-top: 1rem; }
.mt-3 { margin-top: 1.5rem; }

.p-1 { padding: 0.5rem; }
.p-2 { padding: 1rem; }
.p-3 { padding: 1.5rem; }

.text-center { text-align: center; }
.text-right { text-align: right; }

.fw-bold { font-weight: bold; }

.rounded { border-radius: 6px; }
